<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>날짜, 문자열 다루기</title>
</head>
<body>

	<h2>날짜, 문자열 다루기</h2>
	
	<h3>1. 날짜 시간 객체</h3>
	
	<div th:text="|Date : ${date}|"></div>
	<div th:text="|LocalDate : ${LocalDate}|"></div>
	<div th:text="|LocalDateTime : ${LocalDateTime}|"></div>


	<h3>2. 날짜 포맷</h3>
	<div th:text="|Date : ${#dates.format(date, 'yyyy년 M월 d일 H시 m분 s초')}|"></div>
	<div th:text="|LocalDate : ${#temporals.format(LocalDate, 'yyyy년 MM월 dd일')}|"></div>
	<div th:text="|LocalDateTime : ${#temporals.format(LocalDateTime, 'yyyy/MM/d h:m:s')}|"></div>
	
	
	<h3>3. 문자열 메소드</h3>
	
	<div th:with="string1 = 'No pain, No gain'">
		<h4 th:text="|문자열 길이 : ${#strings.length(string1)}|"></h4>
		<h4 th:text="|No가 존재한다 : ${#strings.contains(string1, 'No')}|"></h4>
		
		<h4>특정문자열로 시작, 끝나는지 확인</h4>
		<h4 th:if="${#strings.startsWith(string1, 'No')}">No로 시작한다.</h4>
		<h4 th:if="${#strings.endsWith(string1, 'gain')}">gain으로 끝난다</h4>
	</div>
	
	<div th:with="string2 = 'I Love chicken'">
		<h3>문자열 치환</h3>
		<h4 th:text="${#strings.replace(string2, 'chicken', 'pizza')}"></h4>
		<h4 th:text="${string2}"></h4>
		
		<h3>문자열 자르기</h3>
		<h4 th:text="${#strings.substring(string2, 2, 6)}"></h4>
		
		<h3>문자열 쪼개기</h3>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[0]}"></h4>
		<h4 th:text="${#strings.arraySplit(string2, ' ')[2]}"></h4>
		
	</div>
	
	<div th:with="string3 = '                           hello                                        '">
		<h3>공백 제거</h3>
		<h4 th:text="${string3}"></h4>
		<textarea th:text="${string3}"></textarea>
		<textarea th:text="${#strings.trim(string3)}"></textarea>
	
	</div>

</body>
</html>